
<!-- Body BEGIN -->
<body class="corporate">
    <div class="main">
      <div class="container">
      <ul class="breadcrumb">
          <li class="active"><%= Spree.t(:quick_link)%></li>
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar col-md-3 col-sm-3">
          <ul class="list-group margin-bottom-25 sidebar-menu">
            <%Spree::Navigation.order("position").each do |nav|%>
              <% unless ((nav.url == "/auctions" or nav.url == "/payment" or nav.url == "/profile") and !spree_current_user) %>
                <li class="list-group-item clearfix"><i class="fa fa-angle-right"></i> <%= link_to nav.name.upcase, nav.url ,{ :class => "dropdown-toggle"}%></li>
              <%end%>
            <%end%>
          </ul>
        </div>
        <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-9">
            <div class="content-form-page">
              <div class="row">
                <div class="col-md-7 col-sm-7">
                <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
                  <%= form_for @spree_user, :as => :spree_user, :url => spree.update_password_path, :html => {:class => "form-horizontal", :role => "form"}, :method => :put do |f| %>
                    <fieldset>
                      <legend><%= Spree.t(:change_my_password) %></legend>
                      <div class="form-group">
                        <label for="password" class="col-lg-4 control-label"><%= Spree.t(:password) %> <span class="require">*</span></label>
                        <div class="col-lg-8">
                          <%= f.password_field :password, :class =>"form-control", :id=>"password"%>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="confirm-password" class="col-lg-4 control-label"><%= Spree.t(:confirm_password) %> <span class="require">*</span></label>
                        <div class="col-lg-8">
                          <%= f.password_field :password_confirmation, :class =>"form-control", :id=>"confirm-password" %>
                        </div>
                      </div>
                      <%= f.hidden_field :reset_password_token %>
                    </fieldset>
                    <div class="row">
                      <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">  
                        <%= f.submit Spree.t(:update), :class => 'btn btn-primary' %> 
                      </div>
                    </div>
                  <% end %>
                </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
</body>
<!-- END BODY -->