<div class="add-on hero-unit">
<h3>Auction History</h3>
<% unless @bids.present? %>
	<h5>No Auctions Yet</h5>
<%else%>
	<table class="table table-striped table-hover">
		<thead>
			<tr class="dang">
				<th align="center">
					User Id
				</th>
				<th align="center">
					Bid Price
				</th>
				<th align="center">
					Bid Date
				</th>
			</tr>
		</thead>
		<body>
			<% @bids.each do |bid| %>
				<tr>
					<td align="center">
						<%= bid.user_id %>
					</td>
					<td align="center">
						<%= bid.price %>
					</td>
					<td align="center">
						<%= bid.updated_at.strftime("%F") %>
					</td>
				</tr>
			<% end %>
		</body>
	</table>
<%end%>
</div>
<div class="hide" id="max-bid-price" value=<%= @bids.blank? ? @product.try(:minimal_price).to_i : @bids.last.price%>></div>
<div class="hide" id="min-bid-hike" value=<%= @bids.blank? ? min_bid_hike(@product.try(:minimal_price).to_i) : min_bid_hike(@bids.last.price.to_i)%>></div>
<div class="hide" id="last_bid_present" value=<%= @bids.blank? ? 'false' : 'true'%>></div>
