<%= form_for :bid, :url => spree.bids_path do |f| %>
                <%= hidden_field_tag "start_price", @product.price.to_f, Id:"price_field"%>
                <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <% if @product.variants_and_option_values(current_currency).any? %>
                    <div id="product-variants" class="columns five alpha">
                      <h6 class="product-section-title"><%= Spree.t(:variants) %></h6>
                      <ul>
                        <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
                          <li>
                            <%= radio_button_tag "products[#{@product.id}]", variant.id, index == 0, 'data-price' => variant.price_in(current_currency).display_price %>
                            <label for="<%= ['products', @product.id, variant.id].join('_') %>">
                              <span class="variant-description">
                                <%= variant_options variant %>
                              </span>
                              <% if variant_price variant %>
                                <span class="price diff"><%= variant_price variant %></span>
                              <% end %>
                            </label>
                          </li>
                        <% end%>
                      </ul>
                    </div>
                  <% end%>

                  <% if @product.price_in(current_currency) and !@product.price.nil? %>
                    <div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">
                      <div class="add-to-cart" style="padding-top: 10px;">
                        <%= number_field_tag (@product.variants_and_option_values.any? ? :quantity : "variants[#{@product.master.id}]"),
                          1, :class => 'form-control', :min => 1 %>
                          <br>
                        <%= button_tag :class => 'btn btn-primary', :id => 'add-to-cart-button', :type => :submit do %>
                          <%= Spree.t(:add_to_cart) %>
                        <% end %>
                      </div>
                    </div>
                  <% else %>
                      <div id="product-price">
                        <br>
                        <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
                      </div>
                  <% end %>
                  <br>
                  <% if @product.auction_end.present?%>
                    <tr>
                      <td><strong><%= Spree.t(:auction_ending_date)%> </strong>:</td>
                      <td style="padding: 0 10px 0 10px;"></td>
                      <td><strong><%= @product.auction_end.strftime("%m/%d/%Y")  %></strong></td>
                    </tr>
                  <%end%>
                </div>
              <% end %>