<div class="main">
  <div class="container">
    <div class="row margin-bottom-40">
      <div class="sidebar col-md-3 col-sm-5">
        <div class="class="product-page-cart"">
          <%= link_to Spree.t(:go_catalog), catalog_path ,:class =>'btn btn-primary', :style => 'color: white;width: 100%;margin-bottom: 10px;'%>
          <ul class="list-group margin-bottom-25 sidebar-menu">
            <br>
            <!-- Cargoties section -->
            <ul class="breadcrumb active">
              <li class="active"><%= Spree.t(:categories) %></li>
            </ul>
            <% Spree::Category.all.reject{|i| i.products.active_products.empty?}.each do |category| %>
              <li class="list-group-item clearfix"><i class="fa fa-angle-right"></i><%= link_to category.name, view_category_path(category) %></li>
            <% end %>
            <!-- Cargoties section -->

            <br>
            <!-- FAQ section -->
            <ul class="breadcrumb active">
              <li class="active"><%= Spree::t(:faq)%></li>
            </ul>
            <% StaticContentPage.all.each_with_index do |sp, count|%>
              <li class="list-group-item clearfix"><i class="fa fa-angle-right"></i><%= link_to sp.title, faq_path(anchor: 'static_question_' + (count+1).to_s)%></li>
            <% end %>
            <!-- FAQ section -->


          </ul>
        </div>
      </div>

      <div class="col-md-9 col-sm-7">
        <div class="product-page">
          <div class="row">
          <% if @product.images.present? %>
            <div class="col-md-6 col-sm-6">
              <div class="product-other-images">
                <div class="my-simple-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                  
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" style="width: 600px;" >
                      <a href="<%= @product.images.first.attachment.url(:large)%>" itemprop="contentUrl" data-size="600x450" class="large-image">
                          <img src="<%= @product.images.first.attachment.url(:product)%>" itemprop="thumbnail" alt="Image description" class="img-responsive large-default-image"  style="width: 60%; height: 70%;"/>
                      </a> 
                      
                    </figure>
              
                <!-- For other images-->
                <% cnt = 0 %>
                <% @product.images.each do |image| %>
                  <% if cnt > 0 %>
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" style="width: 80px;" >
                    <a href="<%= image.attachment.url(:large)%>" itemprop="contentUrl" data-size="600x450">
                        <img src="<%= image.attachment.url(:mini)%>" itemprop="thumbnail" alt="Image description" class = "mini-image"onmouseover="bigImg(this)" />
                    </a>
                  </figure>
                  <% end %>
                  <% cnt = cnt + 1 %>
              
                <% end %>
                </div>
              </div>
            </div>
          <% else %>
            
            <div class="col-md-6 col-sm-6">
              <div class="product-main-image" style="position: relative; overflow: hidden;">
                <%= image_tag("no_image.png", {height: 300, width: 400})%>
              </div>

            </div>

          <% end %>

            <div class="col-md-6 col-sm-6">
              <h1><%= accurate_title %></h1>
              <div class="price-availability-block clearfix">
                <div class="price">
                  <strong>
                    <% max_bid_price = @bids.last.try(:price).to_f + 50%>
                    <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
                      <div class="min_bid" id="bd_pz"><%= @bids.blank? ? display_max_price(@product.minimal_price.to_f) : display_max_price(max_bid_price) %></div>  

                  </strong>
                </div>
                <div class="availability">
                 <%= Spree.t(:minimum_bid) %>      
                </div>

              </div>

              <!-- Product form start -->
              <%= render :partial => 'cart_form' %>
              <!-- Product form end -->
            </div>
            <div class="product-page-content">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#Description" data-toggle="tab"><%= Spree.t(:desc) %></a></li>
                <li><a href="#Auction_History" data-toggle="tab"><%= Spree.t(:auction_history) %></a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="Description">
                  <div class="description">
                    <p>
                      <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
                    </p>
                  </div><br>
                  <div class="review-item-content"><h3><strong><%= Spree.t(:details)%></strong></h3></div>
                  <table class="datasheet">
                    <tbody>
                      <% if @product.author_bio.present? %>
                        <div class="review-item clearfix">
                          <div class="review-item-submitted">
                            <strong><%= Spree.t(:author_name)%></strong>
                          </div>
                          <div class="review-item-content">
                            <p>
                              <%= @product.author_bio.name.capitalize %>
                            </p>
                          </div>
                        </div>
                      <% end %>
                      <% if @product.author_bio.present? %>
                        <tr>
                        <div class="review-item clearfix" style="margin-bottom: 0px;">
                          <div class="review-item-submitted"><strong><%= Spree.t(:bio)%></strong></div>
                          <div class="review-item-content"><p><%= @product.author_bio.biography.html_safe %></p></div>
                        </div>
                        </tr>
                      <% end %>
                      <% if @product.art_topics.present?%>
                        <tr>
                          <td><%= Spree.t(:art_topics)%></td>
                          <td style="padding: 0 10px 0 10px;"></td>
                          <td><%= @product.art_topics  %></td>
                        </tr>
                      <%end%>
                      <% if @product.techniques.present?%>
                        <tr>
                          <td><%= Spree.t(:techniques)%></td>
                          <td style="padding: 0 10px 0 10px;"></td>
                          <td><%= @product.techniques  %></td>
                        </tr>
                      <%end%>
                      <% if @product.signature.present?%>
                        <tr>
                          <td><%= Spree.t(:signature)%></td>
                          <td style="padding: 0 10px 0 10px;"></td>
                          <td><%= @product.signature  %></td>
                        </tr>
                      <%end%>
                    </tbody>
                  </table>  
                </div>
                <div class="tab-pane fade " id="Auction_History">
                  <% unless @bids.present? %>
                    <h5><%= Spree.t(:no_auctions_yet)%></h5>
                  <%else%>
                    <table class="datasheet">
                      <tbody>
                        <tr>
                          <th><%= Spree.t(:user_name) %></th>
                          <th><%= Spree.t(:bid_price) %></th>
                          <th><%= Spree.t(:bid_date) %></th>
                        </tr>
                        <% @bids.each do |bid| %>
                          <tr>
                            <td class="datasheet-features-type">
                              <%= bid.try(:user).first_name %>
                            </td>
                            <td>
                              <%= bid.price %>
                            </td>
                            <td>
                              <%= bid.updated_at.strftime("%F") %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  <% end %>

                  <div class="hide" id="max-bid-price" value=<%= @bids.blank? ? @product.try(:minimal_price).to_i : @bids.last.price%>></div>
                  <div class="hide" id="min-bid-hike" value=<%= @bids.blank? ? min_bid_hike(@product.try(:minimal_price).to_i) : min_bid_hike(@bids.last.price.to_i)%>></div>
                  <div class="hide" id="last_bid_present" value=<%= @bids.blank? ? 'false' : 'true'%>></div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

<!-- <div id="blog_post">
  <div class="container" data-hook="product_show" itemscope itemtype="http://schema.org/Product">
    <%# @body_id = 'product-details' %>
  
    <div class="section_header">
      <h3><%= accurate_title %></h3>
    </div>
  
  
    <div class="row">

      <div class="span8" data-hook="product_left_part">
        <div data-hook="product_left_part_wrap">
      
          <div id="product-images" data-hook="product_images">
            <div id="main-image" data-hook>
              <%#= render :partial => 'image' %>
            </div>
            <div id="thumbnails" data-hook>
              <%#= render :partial => 'thumbnails' %>
            </div>
          </div>

          <div id="product-description" data-hook="product_description">
            <div itemprop="description" data-hook="description">
              <%#= product_description(@product) rescue Spree.t(:product_has_no_description) %>
            </div>
          </div>
          <%#= render :partial => 'taxons' %>

        </div>
        
      </div>

      <div class="span3 offset1 sidebar">

        <div id="cart-form" data-hook="cart_form">
          <%#= render :partial => 'cart_form' %>
        </div>

      </div>
        
    </div>
  
  </div>
</div> -->
</div>
</div>
<script type="text/javascript" >
  function bigImg(x) {
    $('.large-image').attr('src', x.parentNode);
    $('.large-default-image').attr('src', x.parentNode);
}
</script>
