<div data-hook="admin_product_form_fields">
  
  <div class="left eight columns alpha" data-hook="admin_product_form_left">    
    <%= f.field_container :name do %>
      <%= f.label :name, raw(Spree.t(:auction_title) + content_tag(:span, ' *', :class => 'required')) %>
      <%= f.text_field :name, :class => 'fullwidth title' %>
      <%= f.error_message_on :name %>
    <% end %>

    <%= f.field_container :permalink do %>
      <%= f.label :permalink, raw(Spree.t(:permalink) + content_tag(:span, ' *',  :class => "required")) %>
      <%= f.text_field :permalink, :class => 'fullwidth title' %>
      <%= f.error_message_on :permalink %>
    <% end %>

    <%= f.field_container :description do %>
      <%= f.label :description, Spree.t(:description) %>
      <%= f.text_area :description, {:rows => "20", :class => 'fullwidth'} %>
      <%= f.error_message_on :description %>
    <% end %>
  </div>

  <div class="right four columns omega" data-hook="admin_product_form_right">
    <%= f.field_container :price do %>
      <%= f.label :price, raw(Spree.t(:starting_price) + content_tag(:span, ' *', :class => "required")) %>
      <%= f.text_field :price, :value => number_to_currency(@product.price, :unit => '') %>
      <%= f.error_message_on :price %>
    <% end %>

    <%= f.field_container :minimal_price do %>
      <%= f.label :minimal_price, raw(Spree.t(:minimal_price) + content_tag(:span, ' *', :class => "required")) %>
      <%= f.text_field :minimal_price, :value => number_to_currency(@product.minimal_price, :unit => '') %>
      <%= f.error_message_on :minimal_price %>
    <% end %>

    <div class="alpha two columns">
      <%= f.field_container :cost_price do %>
        <%= f.label :cost_price, Spree.t(:cost_price) %>
        <%= f.text_field :cost_price, :value => number_to_currency(@product.cost_price, :unit => '') %>
        <%= f.error_message_on :cost_price %>
      <% end %>
    </div>
    <div class="omega two columns">
      <%= f.field_container :cost_currency do %>
        <%= f.label :cost_currency, Spree.t(:cost_currency) %>
        <%= f.text_field :cost_currency %>
        <%= f.error_message_on :cost_currency %>
      <% end %>
    </div>

    <div class="clear"></div>

    <!-- <%= f.field_container :available_on do %>
      <%= f.label :available_on, Spree.t(:available_on) %>
      <%= f.error_message_on :available_on %>
      <%= f.text_field :available_on, :value => datepicker_field_value(@product.available_on), :class => 'datepicker' %>
    <% end %> -->

    <div class="alpha two columns">
        <div class="date-range-filter field">
          <%= f.label :available_on, Spree.t(:auction_start) %>
          <div class="date-range-fields">
            <%= f.text_field :available_on, :value => datepicker_field_value(@product.available_on), :class => 'datepicker datepicker-from fullwidth' %>
          </div>
          <%= f.error_message_on :available_on %>
        </div>
      </div>

      <div class="omega two columns">
        <div class="date-range-filter field">
          <%= f.label :auction_end, Spree.t(:auction_finish) %>
          <div class="date-range-fields">
            <%= f.text_field :auction_end, :value => datepicker_field_value(@product.auction_end), :class => 'datepicker datepicker-to fullwidth' %>
          </div>
          <%= f.error_message_on :auction_end %>
        </div>
      </div>

    <div class="omega four">
      <%= f.field_container :created_date do %>
        <%= f.label :created_date, Spree.t(:art_created_at) %>
        <%= f.text_field :created_date, :value => datepicker_field_value(@product.created_date), :class => 'datepicker' %>
        <%= f.error_message_on :created_date %>
      <% end %>
    </div>

    <% unless @product.has_variants? %>
      <%= f.field_container :sku do %>
        <%= f.label :sku, Spree.t(:sku) %>
        <%= f.text_field :sku, :size => 16 %>
      <% end %>
    <% end %>
  </div>

    <div class="omega two columns">
      <%= f.field_container :art_height do %>
        <%= f.label :art_height, "Height(Framed)" %>
        <%= f.text_field :art_height, :value => @product.art_height %>
        <%= f.error_message_on :art_height %>
      <% end %>
    </div>

    <div class="omega two columns">
      <%= f.field_container :unframed_height do %>
        <%= f.label :unframed_height, "Height(Unframed)" %>
        <%= f.text_field :unframed_height, :value => @product.unframed_height %>
        <%= f.error_message_on :unframed_height %>
      <% end %>
    </div>

    <div class="omega two columns">
      <%= f.field_container :art_width do %>
        <%= f.label :art_width, "Width(Framed)" %>
        <%= f.text_field :art_width, :value => @product.art_width %>
        <%= f.error_message_on :art_width %>
      <% end %>
    </div>

    <div class="omega two columns">
      <%= f.field_container :unframed_width do %>
        <%= f.label :unframed_width, "Width(Unframed)" %>
        <%= f.text_field :unframed_width, :value => @product.unframed_width %>
        <%= f.error_message_on :unframed_width %>
      <% end %>
    </div>

    <div class="omega two columns">
      <%= f.field_container :art_depth do %>
        <%= f.label :art_depth, Spree.t(:art_depth) %>
        <%= f.text_field :art_depth, :value => @product.art_depth %>
        <%= f.error_message_on :art_depth %>
      <% end %>
    </div>


  <div class="alpha omega twelve columns">
  	
  	<%= f.field_container :author do %>
      <%= f.label :author_bio_id, Spree.t(:author) %>
      <%= f.select :author_bio_id, Spree::AuthorBio.all.collect{|p| [p.name, p.id]}, include_blank: "None" %>
    <% end %>
  	
    <%= f.field_container :categories do %>
      <%= f.label :categories_id, Spree.t(:categories) %>
      <%#= f.hidden_field :categories_id, :value => @product.categories.join(',') %>
      <%= select_tag :categories_id, options_from_collection_for_select(Spree::Category.all, "id", "name", @product.categories.map(&:id)), { :multiple => true, :size =>10 }%>
    <% end %>

    <%= f.field_container :art_topics do %>
      <%= f.label :art_topics, Spree.t(:art_topics) %>
      <%= f.text_field :art_topics, :class => 'fullwidth', :value => @product.art_topics %>
    <% end %>

    <%= f.field_container :techniques do %>
      <%= f.label :techniques, Spree.t(:techniques) %>
      <%= f.text_field :techniques, :class => 'fullwidth', :value => @product.techniques %>
    <% end %>
    
    <%= f.field_container :signature do %>
      <%= f.label :signature, Spree.t(:signature) %>
      <%= f.text_field :signature, :class => 'fullwidth', :value => @product.signature %>
    <% end %>
  </div>

  <div class="clear"></div>

  <div data-hook="admin_product_form_additional_fields"></div>

  <div class="clear"></div>
</div>

<% unless Rails.env.test? %>
  <script>
  $('.select2-container').css({width: '20em'})
  </script>
<% end %>
