<%= Spree.t(:hello)%>,
<br><%= Spree.t(:thanks_message)%>
<br><%= Spree.t(:check)%> <%= @bid.product.name %> <a href="<%= ActionMailer::Base.default_url_options[:host] %>/products/<%= @bid.product.permalink%>"><%= Spree.t(:here)%></a>.
<br>
<%= Spree.t(:touch_soon)%>
<br>
<%= Spree.t(:thanks)%><br/>
Auction House