<div class="main">
  <div class="container">
    <ul class="breadcrumb">
        <li class="active"><%= Spree.t(:quick_link) %></li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-3">
        <ul class="list-group margin-bottom-25 sidebar-menu">
          <%Spree::Navigation.order("position").each do |nav|%>
            <% unless ((nav.url == "/auctions" or nav.url == "/payment" or nav.url == "/profile") and !spree_current_user) %>
              <li class="list-group-item clearfix"><i class="fa fa-angle-right"></i> <%= link_to nav.name.upcase, nav.url ,{ :class => "dropdown-toggle"}%></li>
            <%end%>
          <%end%>
        </ul>
      </div>
      <!-- END SIDEBAR -->

      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-9">
        <h1><%= Spree.t(:card_details) %></h1>
        <%= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image' %>
        <div class="content-form-page">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <%= form_for(:@credit_card, :url => {:action => 'credit_card_info'}, :method => :get , :html => {:class => "form-horizontal", :role=>"form"}) do |f| %>              
                <fieldset>
                  <legend><%= Spree.t(:personal_details) %></legend>
                  <div class="form-group">
                    <label for="firstname" class="col-lg-4 control-label"><%= Spree.t(:first_name) %> <span class="require">*</span></label>
                    <div class="col-lg-8">
                      <%= text_field_tag "[first_name]", '', :class => 'required fullwidth form-control', :id =>"firstname", :required => true %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="lastname" class="col-lg-4 control-label"><%= Spree.t(:last_name) %> <span class="require">*</span></label>
                    <div class="col-lg-8">
                      <%= text_field_tag "[last_name]", '', :class => 'required fullwidth form-control', :id =>"lastname", :required => true %>
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                  <legend><%= Spree.t(:your_credit_card_details) %></legend>
                  <div class="form-group" data-hook="card_number">
                    <label for="card_number" class="col-lg-4 control-label"><%= Spree.t(:card_num) %> <span class="require">*</span></label>
                    <div class="col-lg-8">
                      <%= text_field_tag "[number]", '', :class => 'required fullwidth form-control', :id =>"card_number", :maxlength => 19, :required => true %>
                                <span id="card_type" style="display:none;">
                                  ( <span id="looks_like" ><%= Spree.t(:card_type_is) %> <span id="type"></span></span>
                                    <span id="unrecognized"><%= Spree.t(:unrecognized_card_type) %></span>
                                  )
                                </span>
                    </div>
                  </div>
                  <div class="form-group three columns" >
                    <label class="col-lg-4 control-label"><%= Spree.t(:expire) %> <span class="require">*</span></label>
                    <div class="col-md-8 form-group form-inline" data-hook="card_expiration">
                      <%= select_month(Date.today, { :field_name => 'month', :use_month_numbers => true }, :class => 'required select2 form-control', :id => 'card_month', :required => true) %>
                      <%= select_year(Date.today, {  :field_name => 'year', :start_year => Date.today.year, :end_year => Date.today.year + 15 }, :class => 'required select2 form-control', :id => 'card_year', :required => true) %>
                    </div>
                  </div>

                  
                  <div class="form-group three columns" >
                    <label class="col-lg-4 control-label"><%= Spree.t(:card_type) %> <span class="require">*</span></label>
                    <div class="col-lg-8 field form-group" >
                     <%= select_tag "[card_type]", options_for_select(%w[visa MasterCard]), :class =>"form-control", :include_blank => "Choose Card type", :required => true %>
                    </div>
                  </div>

                  <div class="form-group omega two columns" >
                    <label class="col-lg-4 control-label"><%= Spree.t(:card_code) %> <span class="require">*</span></label>
                    <div class="col-lg-8 field form-group" data-hook="card_code" >
                      <%= text_field_tag "[verification_value]", '', :class => 'form-control', :size => 5, :id => 'card_code', :required => true %>
                      <a href="/content/cvv" class="info" target="_blank" id="cvv_link">
                        (<%= Spree.t(:what_is_this) %>)
                      </a>
                    </div>
                  </div>
                </fieldset>

                <div class="row">
                  <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20"> 
                    <%= submit_tag(Spree.t(:add), :class=>"btn btn-primary") %>                       
                    <%= link_to Spree.t(:cancel), root_path, :class=> "btn btn-default" %>
                  </div>
                </div>
              
              <%end%>
            </div>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>