<div class="main">
  <div class="container">
    <ul class="breadcrumb">
        <li class="active"><%= Spree.t(:quick_link) %></li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-3">
        <ul class="list-group margin-bottom-25 sidebar-menu">
          <%Spree::Navigation.order("position").each do |nav|%>
            <% unless ((nav.url == "/auctions" or nav.url == "/payment" or nav.url == "/profile") and !spree_current_user) %>
              <li class="list-group-item clearfix"><i class="fa fa-angle-right"></i> <%= link_to nav.name.upcase, nav.url ,{ :class => "dropdown-toggle"}%></li>
            <%end%>
          <%end%>
        </ul>
      </div>
      <!-- END SIDEBAR -->

      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-9">
        <h1><%= Spree.t(:create_account) %></h1>
        <div class="content-form-page">
          <div class="row">
            <div class="col-md-7 col-sm-7">
                <% @body_id = 'signup' %>
                <div id="new-customer">
                  <div data-hook="signup">
                    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
                    <%= form_for resource, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
                      <div data-hook="signup_inside_form">
                        <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
                        <div class="row">
                          <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                            <%= f.submit Spree.t(:create), :class => 'btn btn-primary' %>
                            <%= link_to "Cancel", root_path, :class=> "btn btn-default" %>
                            <!-- <button type="button" class="btn btn-default">Cancel</button> -->
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <hr>
                    <%= Spree.t(:or) %> <%= link_to Spree.t(:login_as_existing), spree.login_path %>
                  </div>
                </div>
                <div data-hook="login_extras"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>



