<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path , :html => {:class => "form-horizontal form-without-legend"} do |f| %>
  <div class="form-group">
    <label for="email" class="col-lg-4 control-label"><%= Spree.t(:email) %> <span class="require">*</span></label>
    <div class="col-lg-8">
      <%= f.email_field :email, :class => 'form-control', :tabindex => 1, :id =>"email" , :required => true%>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-lg-4 control-label"><%= Spree.t(:password) %> <span class="require">*</span></label>
    <div class="col-lg-8">
      <%= f.password_field :password, :class => 'form-control', :tabindex => 2, :id=>"password", :required => true %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-offset-4 padding-left-0">
      <label>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, Spree.t(:remember_me) %>
    </label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
      <%= f.submit Spree.t(:login), :class => 'btn btn-primary', :tabindex => 3 %>
      <%= link_to "Cancel", root_path, :class=> "btn btn-default" %>

    </div>
  </div>
<% end %>
