<!-- BEGIN TOP BAR -->
<div class="pre-header">
    <div class="container">
        <div class="row">
            <!-- BEGIN TOP BAR LEFT PART -->
            <div class="col-md-3 col-sm-6 additional-shop-info">
                <ul class="list-unstyled list-inline">
                    <!-- <li><i class="fa fa-phone"></i><span>+1 456 6717</span></li> -->
                    <li><i class="fa "></i><span>English  </span><%= link_to image_tag("us.png"), locale: "en" %></li>
                    <li><i class="fa "></i><span>Polish  </span><%= link_to image_tag("pl.png"), locale: "pl" %></li>
                </ul>
            </div>
            <!-- END TOP BAR LEFT PART -->

            <!-- Begin flash message -->
            <div class="col-md-6 col-sm-6 additional-shop-info">
                <% flash.each do |key, value| %>
                    <%= content_tag :div, value, :align => "center", :style => 'color: #e84d1c; font-weight: 600;'%>
                <% end %>
            </div>
            <!-- End of flash message -->

            <!-- BEGIN TOP BAR MENU -->
            <div class="col-md-2 col-sm-6 additional-nav  pull-right">
                <ul class="list-unstyled list-inline pull-right">
                    <% if spree_current_user %>
                    <li><%= link_to Spree.t(:sign_out), destroy_spree_user_session_path%></li>
                    <% else %>
                        <li><%= link_to Spree.t(:sign_up), new_spree_user_registration_path %></li>
                        <li><%= link_to Spree.t(:sign_in), spree_user_session_path %></li>
                    <% end %>
                </ul>
            </div>
            <!-- END TOP BAR MENU -->
        </div>
    </div>        
</div>
<!-- END TOP BAR -->
