<!--########################################################-->
<!--################### SLIDER SECTION   ###################-->
<!--########################################################-->
<%= render :partial => 'spree/shared/slider' %>
<div class="main">
<div class="container">
<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

  <div class="section_header">
    <h3><%= Spree.t(:title)%></h3>
  </div>

<% if products.any? %>
  <div class="row margin-bottom-40">
    <div class="col-md-12 sale-product">
      <div class="owl-carousel owl-carousel5">
      <% products.each do |product| %>
        <div>
          <div class="product-item">
            <div class="pi-img-wrapper">
            <% unless product.images.empty? %>
              <%= image_tag(product.images.first.attachment.url, :class => "img-responsive") %>
            <% else %>
              <%= image_tag("no_image.png", :class => "img-responsive")%>
            <% end %>
              <div>
                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
              </div>
            </div>
            <h3><a href="shop-item.html"><%= link_to truncate(product.name), :title => product.name %></a></h3>
            <div class="pi-price"><%= display_price(product) %></div>
            <div class="sticker sticker-sale"></div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% reset_cycle("classes") %>
<% end %>
<!--####################################################-->
<!--############# SIDE BAR SECTION   ###################-->
<!--####################################################-->
<%#= render :partial => 'spree/shared/sidebar_content' %>

<!--####################################################-->
<!--############ TWO PRODUCTS & PROMO SECTION   #########-->
<!--#####################################################-->
<%#= render :partial => 'spree/shared/two_products_promo' %>


<!--#########################################################-->
<!--#################### BRANDS SECTION  #####################-->
<!--##########################################################-->
<%#= render :partial => 'spree/shared/brands' %>


<!--###########################################################-->
<!--###################### STEPS SECTION  #####################-->
<!--###########################################################-->
<%#= render :partial => 'spree/shared/steps_footer' %>


<!--###########################################################-->
<!--############ FAST VIEW OF PRODUCTS ########################-->
<!--###########################################################-->
<%= render :partial => 'spree/shared/fast_view_product' %>
</div>
</div>


