<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

  <div class="section_header">
    <h3>Najnowsze aukcje</h3>
  </div>

  <% if products.any? %>
  <div id="showcase">
    <div class="features_op1_row">
      <ul class="thumbnails">
        <% products.each do |product| %>
          <li class="span3 feature" itemscope itemtype="http://schema.org/Product">
            <div class="img_box">
              <a href="<%= url_for product %>">
              	<% unless product.images.empty? %>
                	<%= image_tag(product.images.first.attachment.url) %>
                <% else %>
                    <%= image_tag("no_image.png")%>

				        <% end %>
                <span class="circle"> 
                    <span class="plus">+</span>
                </span>
              </a>
            </div>
            <div class="text">
              <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
              <% bidder_count = bidder_count(product) %>
              <%= bidder_count.to_i > 1 ? "( #{bidder_count} Bidders)" : "( #{bidder_count} Bidder)"%>
              <div class="price selling" itemprop="price"><%= display_price(product) %></div>
            </div>
          </li>
        <% end %>
        <% reset_cycle("classes") %>
      </ul>
    </div>
  </div>
  <% end %>

<!--<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %> -->

<div id ='catalog_sec'>
  <a href="/catalog" class="home_catalog_link">Go To Catalog</a>
</div>
