<!--########################################################-->
<!--################### SLIDER SECTION   ###################-->
<!--########################################################-->
<%= render :partial => 'spree/shared/slider' %>
<!-- Main Container start -->
<div class="main">
  <div class="container">
    <% paginated_products = @searcher.retrieve_products if params.key?(:keywords)
      paginated_products ||= products
    %>
    <% if products.empty? %>
      <h2><%= Spree.t(:no_products_found) %>
    <% elsif params.key?(:keywords) %></h2>
      <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
    <% end %>
    <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
    <div class="row margin-bottom-40">
          <h2>New Arrivals</h2>
          <!-- BEGIN SALE PRODUCT -->
          <% @products.each_slice(5) do |slice| %>
          <div class="col-md-12 sale-product">
            <div class="owl-carousel owl-carousel5">
            <!-- product stast -->
            <% slice.each do |product| %>
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <% unless product.images.empty? %>
                      <%= image_tag(product.images.first.attachment.url, :class => "img-responsive", :width => 600, :height => 800) %>
                    <% else %>
                      <%= image_tag("no_image.png", :class => "img-responsive", :width => 600, :height => 800)%>
                    <% end %>
                    <div>
                      <a href="#" class="btn btn-default">View</a>
                    </div>
                  </div>
                  <h3><%= link_to truncate(product.name), :title => product.name %></h3>
                  <div class="pi-price"><%= display_price(product) %></div>
                </div>
              </div>
              <% end %>
            <!-- product end -->
            </div>
          </div>
          <% end %>
          <!-- END SALE PRODUCT -->
    </div>
    <!-- END SALE PRODUCT & NEW ARRIVALS -->
  </div>
</div>
<!-- Main Container end -->


